.trade-panel{
    display: inline-block;
    width: 50%;
    min-height: 200px;

    padding: 1.4vw;
    background-color: #25231f;
}

.trade-panel .trade-container{
    width: 100%;
    height: 100%;
}

.trade-panel .trade-container .trade-container-left{
    float:left;
    width: 60%;
    height: 100%;
    font-family: "Source Han Sans CN Regular";
    font-size: 2vw;
}

.trade-panel .trade-container .trade-container-left .trade-box-with-border{
    float:left;
    width: 100%;
    border: 0.2vw solid #fec303;
    margin: 1vw 0;
}

.trade-container .stock-info .stock-info-code,
.trade-container .stock-info .stock-info-name{
    float: left;
    width: 50%;
    padding: 0.6vw 1.6vw;
    color: #fec303;
}
.trade-container .stock-info .stock-info-name{
    text-align: right;
}

.trade-container .trade-price .trade-price-minus,
.trade-container .trade-price .trade-price-add{
    float:left;
    position: relative;
    width: 16%;
    padding: 0.6vw 1.6vw;

    background-color: #fec303;

    text-align: center;
    color: #25231f;
}
.trade-container .trade-price .trade-price-button-tip{
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.2vw;
}
.trade-container .trade-price input{
    float: left;
    width: 68%;
    padding: 0.6vw 1.6vw;

    background: transparent;

    text-align: center;
    color: #fec303;
}

.trade-container .trade-price-tip{
    float:left;
    width: 100%;
    font-size: 1vw;
}
.trade-container .trade-price-tip .trade-price-tip-min,
.trade-container .trade-price-tip .trade-price-tip-max{
    float: left;
    width: 50%;
}

.trade-container .trade-price-tip .trade-price-tip-max{
    text-align: right;
}

.trade-container .trade-counts{
    position: relative;
}
.trade-container .trade-counts .trade-counts-tip,
.trade-container .trade-counts .trade-counts-has{
    float:left;
    width: 50%;
    padding: 0.6vw 1.6vw;
    color: #fec303;
    opacity: 0.15;
}
.trade-container .trade-counts .trade-counts-has{
    text-align: right;
}
.trade-container .trade-counts input{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0.6vw 1.6vw;
    background: transparent;

    text-align: center;
    color: #fec303;
}
.trade-container .trade-button{
    float:left;
    margin-top: 0.8vw;
    padding: 0.6vw 0;
    width: 42%;
    background: #fec303;
    text-align: center;
}

.trade-container .trade-button#trade-button-buy{
    margin-right: 16%;
}

.trade-container .trade-container-right{
    float:left;
    width: 40%;
    font-family: "Source Han Sans CN Regular";
}

.trade-container-right ul{
    float:left;
    margin: 0 13% 1vw 20%;

}

.trade-container-right ul li{
    margin: 0.3vw 0;
    font-size: 1.5vw;
}

.trade-container-right ul li a,
.trade-container-right ul li a:hover{
    color:#929191;
}

.trade-container-right ul li .tip,
.trade-container-right ul li .price{
    margin-right: 1vw;
}
